<!DOCTYPE html>
<html>
<head>
  <title>Auth ComCiDis</title>
  <%= stylesheet_link_tag "bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag "bootstrap-responsive.min.css", media: "all" %>
  <%= stylesheet_link_tag "font-awesome.min.css", media: "all" %>
  <%= stylesheet_link_tag "bootswatch.css", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <%= render 'layouts/flash', :flash => flash %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",
                           "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js",
                           "application" %>

</body>
</html>
